body {
  background-color: #f8f2de;
  color: #c70039;
}
h1 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 5rem;
  font-family: "Pirata One";
}
.about {
  background-image: url("https://wallpaperaccess.com/full/350107.jpg");
  width: 100%;
  height: 80%;
}
